In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

hospital_df = pd.read_csv('../downloads/normalizacion/hospital.csv', delimiter=',')
hospital_activity_df = pd.read_csv('../downloads/normalizacion/hospital_activity.csv', delimiter=';')
hospital_municipality_df = pd.read_csv('../downloads/normalizacion/hospital_municipality.csv', delimiter=';')
hospital_resources_df = pd.read_csv('../downloads/normalizacion/hospital_resources.csv', delimiter=';')
municipality_df = pd.read_csv('../downloads/normalizacion/municipality.csv', delimiter=',')
municipality_demographics_df = pd.read_csv('../downloads/normalizacion/municipality_demographics.csv', delimiter=',')

print('Hospitales:')
display(hospital_df.head())
print('Actividad hospitalaria:')
display(hospital_activity_df.head())
print('Hospital-Municipio:')
display(hospital_municipality_df.head())
print('Recursos hospitalarios:')
display(hospital_resources_df.head())
print('Municipios:')
display(municipality_df.head())
print('Demograf√≠a municipios:')
display(municipality_demographics_df.head())

# Filtro solicitado sobre hospital_municipality_df
exclude_hospital_id = 'hospital_central_de_la_defensa_gomez_ulla'
exclude_municipality_names = ['Moratalaz', 'Vic√°lvaro y Retiro', 'Braojos de la Sierra', 'nan']

# Convertir municipality_id a string para evitar problemas de comparaci√≥n
hospital_municipality_df['municipality_id'] = hospital_municipality_df['municipality_id'].astype(str)

# Filtrar los municipality_id nulos y vac√≠os
hospital_municipality_df = hospital_municipality_df[hospital_municipality_df['municipality_id'].notnull() & (hospital_municipality_df['municipality_id'] != '')]

# Filtrar por municipality_id
hospital_municipality_df = hospital_municipality_df[~hospital_municipality_df['municipality_id'].isin(exclude_municipality_names)]

# Filtrar por hospital_id
hospital_municipality_df = hospital_municipality_df[hospital_municipality_df['hospital_id'] != exclude_hospital_id]

hospital_resources_2022 = hospital_resources_df[hospital_resources_df['year'].astype(str) == '2022'].copy()
hospital_resources_2022['hospital_id'] = hospital_resources_2022['hospital_id'].astype(str)

hospital_activity_2022 = hospital_activity_df[hospital_activity_df['year'].astype(str) == '2022'].copy()
hospital_activity_2022['hospital_id'] = hospital_activity_2022['hospital_id'].astype(str)

municipality_demographics_2022 = municipality_demographics_df[municipality_demographics_df['year'].astype(str) == '2022'].copy()
municipality_demographics_2022['id_secondary_municipality'] = municipality_demographics_2022['id_secondary_municipality'].astype(str)

# === C√ÅLCULO DEL NIVEL DE SERVICIO DE HOSPITALES ===

print("\n=== AN√ÅLISIS DEL NIVEL DE SERVICIO HOSPITALARIO ===\n")

# 1. PREPARAR DATOS DE RECURSOS POR HOSPITAL
hospital_resources_pivot = hospital_resources_2022.pivot_table(
    index='hospital_id',
    columns='type_resources',
    values='total',
    fill_value=0
).reset_index()

print('Recursos hospitalarios por hospital (formato pivote):')
display(hospital_resources_pivot.head())

# 2. PREPARAR DATOS DE ACTIVIDAD POR HOSPITAL
hospital_activity_pivot = hospital_activity_2022.pivot_table(
    index='hospital_id',
    columns='type_activity',
    values='total',
    fill_value=0
).reset_index()

print('\nActividad hospitalaria por hospital (formato pivote):')
display(hospital_activity_pivot.head())

# 3. UNIR RECURSOS Y ACTIVIDAD POR HOSPITAL
hospital_service_df = hospital_resources_pivot.merge(hospital_activity_pivot, on='hospital_id', how='outer')

# 4. CALCULAR INDICADORES DE NIVEL DE SERVICIO

# 4.1 Tasa de ocupaci√≥n de camas (d√≠as de hospitalizaci√≥n / (camas * 365))
if 'Camas instaladas' in hospital_service_df.columns and 'Total ingresos' in hospital_service_df.columns and 'Estancia media global' in hospital_service_df.columns:
    hospital_service_df['dias_hospitalizacion'] = hospital_service_df['Total ingresos'] * hospital_service_df['Estancia media global']
    hospital_service_df['capacidad_anual_camas'] = hospital_service_df['Camas instaladas'] * 365
    hospital_service_df['tasa_ocupacion_camas'] = np.where(
        hospital_service_df['capacidad_anual_camas'] > 0,
        hospital_service_df['dias_hospitalizacion'] / hospital_service_df['capacidad_anual_camas'],
        0
    )

# 4.2 Eficiencia en urgencias (% de ingresos desde urgencias)
if 'Urgencias totales' in hospital_service_df.columns and 'Total ingresos' in hospital_service_df.columns:
    hospital_service_df['tasa_ingreso_urgencias'] = np.where(
        hospital_service_df['Urgencias totales'] > 0,
        hospital_service_df['Total ingresos'] / hospital_service_df['Urgencias totales'],
        0
    )

# 4.3 Eficiencia de ingresos urgentes vs programados
if 'Ingresos urgentes' in hospital_service_df.columns and 'Ingresos programados' in hospital_service_df.columns:
    hospital_service_df['total_ingresos_calculado'] = hospital_service_df['Ingresos urgentes'] + hospital_service_df['Ingresos programados']
    hospital_service_df['ratio_urgentes_programados'] = np.where(
        hospital_service_df['Ingresos programados'] > 0,
        hospital_service_df['Ingresos urgentes'] / hospital_service_df['Ingresos programados'],
        0
    )

# 4.4 Productividad de camas (ingresos por cama)
if 'Total ingresos' in hospital_service_df.columns and 'Camas instaladas' in hospital_service_df.columns:
    hospital_service_df['productividad_camas'] = np.where(
        hospital_service_df['Camas instaladas'] > 0,
        hospital_service_df['Total ingresos'] / hospital_service_df['Camas instaladas'],
        0
    )

# 4.5 Eficiencia de estancia (menor estancia = m√°s eficiente, pero normalizado)
if 'Estancia media global' in hospital_service_df.columns:
    hospital_service_df['eficiencia_estancia'] = np.where(
        hospital_service_df['Estancia media global'] > 0,
        1 / hospital_service_df['Estancia media global'],  # Invertir para que menor estancia = mayor eficiencia
        0
    )

# 5. CALCULAR √çNDICE COMPUESTO DE NIVEL DE SERVICIO

# Actualizar indicadores disponibles
service_indicators = ['tasa_ocupacion_camas', 'tasa_ingreso_urgencias', 'ratio_urgentes_programados',
                     'productividad_camas', 'eficiencia_estancia']

# Crear copia para normalizaci√≥n
hospital_service_normalized = hospital_service_df.copy()

for indicator in service_indicators:
    if indicator in hospital_service_normalized.columns:
        # Usar percentiles para normalizar (0-100)
        hospital_service_normalized[f'{indicator}_percentile'] = hospital_service_normalized[indicator].rank(pct=True) * 100

        # Para tasa de ocupaci√≥n, el √≥ptimo est√° cerca del 80-85%, no al m√°ximo
        if indicator == 'tasa_ocupacion_camas':
            # Penalizar ocupaciones muy bajas (<50%) y muy altas (>95%)
            hospital_service_normalized[f'{indicator}_score'] = np.where(
                hospital_service_normalized[indicator] < 0.5,
                hospital_service_normalized[indicator] * 2 * 100,  # Escala 0-50 para <50%
                np.where(
                    hospital_service_normalized[indicator] > 0.95,
                    100 - (hospital_service_normalized[indicator] - 0.95) * 1000,  # Penalizar >95%
                    100  # √ìptimo entre 50-95%
                )
            )
        else:
            hospital_service_normalized[f'{indicator}_score'] = hospital_service_normalized[f'{indicator}_percentile']

# Calcular √≠ndice compuesto de nivel de servicio (promedio de scores disponibles)
score_columns = [col for col in hospital_service_normalized.columns if col.endswith('_score')]
if score_columns:
    hospital_service_normalized['nivel_servicio_score'] = hospital_service_normalized[score_columns].mean(axis=1, skipna=True)
else:
    hospital_service_normalized['nivel_servicio_score'] = 0

# 6. AGREGAR INFORMACI√ìN DE MUNICIPIO Y NOMBRES DESCRIPTIVOS (SOLO HOSPITALES CON MUNICIPIO)
hospital_service_final = hospital_service_normalized.merge(
    hospital_municipality_df[['hospital_id', 'municipality_id']],
    on='hospital_id',
    how='inner'  # Cambio a INNER JOIN - solo hospitales con municipio asignado
)

# 6.1 Agregar nombres de hospitales
hospital_df['id'] = hospital_df['id'].astype(str)
hospital_service_final = hospital_service_final.merge(
    hospital_df[['id', 'name']].rename(columns={'id': 'hospital_id', 'name': 'hospital_name'}),
    on='hospital_id',
    how='inner'  # INNER JOIN para asegurar que tenemos nombres
)

# 6.2 Agregar nombres de municipios y datos demogr√°ficos
municipality_df['id'] = municipality_df['id'].astype(str)
hospital_service_final = hospital_service_final.merge(
    municipality_df[['id', 'name', 'id_secondary']].rename(columns={'id': 'municipality_id', 'name': 'municipality_name'}),
    on='municipality_id',
    how='inner'  # INNER JOIN para asegurar que tenemos nombres de municipio
)

# === AN√ÅLISIS DE POBLACI√ìN ASIGNADA A HOSPITALES ===

print("\n=== AN√ÅLISIS DE POBLACI√ìN ASIGNADA A HOSPITALES ===\n")

# 6.3 Preparar datos demogr√°ficos (poblaci√≥n total por municipio)
population_data = municipality_demographics_2022[
    (municipality_demographics_2022['range'] == 'total')
].copy()

print('Datos de poblaci√≥n total por municipio:')
display(population_data[['id_secondary_municipality', 'total']].head())

# 6.4 Agregar poblaci√≥n total del municipio a cada hospital
# Asegurar que los tipos de datos sean compatibles para el merge
municipality_df['id_secondary'] = municipality_df['id_secondary'].astype(str)
population_data['id_secondary_municipality'] = population_data['id_secondary_municipality'].astype(str)

print(f"Verificando tipos de datos antes del merge:")
print(f"hospital_service_final['id_secondary'] dtype: {hospital_service_final['id_secondary'].dtype}")
print(f"population_data['id_secondary_municipality'] dtype: {population_data['id_secondary_municipality'].dtype}")

# Verificar valores √∫nicos para debuggear
print(f"Valores √∫nicos en hospital_service_final['id_secondary']: {hospital_service_final['id_secondary'].nunique()}")
print(f"Valores √∫nicos en population_data['id_secondary_municipality']: {population_data['id_secondary_municipality'].nunique()}")

# Hacer el merge con manejo de errores
try:
    hospital_service_final = hospital_service_final.merge(
        population_data[['id_secondary_municipality', 'total']].rename(columns={
            'id_secondary_municipality': 'id_secondary',
            'total': 'poblacion_total_municipio'
        }),
        on='id_secondary',
        how='left'
    )
    print(f"‚úÖ Merge exitoso. Registros despu√©s del merge: {len(hospital_service_final)}")

except Exception as e:
    print(f"‚ùå Error en merge: {e}")
    print("Intentando merge alternativo...")

    # M√©todo alternativo: crear el merge paso a paso
    population_renamed = population_data[['id_secondary_municipality', 'total']].copy()
    population_renamed = population_renamed.rename(columns={
        'id_secondary_municipality': 'id_secondary',
        'total': 'poblacion_total_municipio'
    })

    # Asegurar tipos compatibles
    population_renamed['id_secondary'] = population_renamed['id_secondary'].astype(str)
    hospital_service_final['id_secondary'] = hospital_service_final['id_secondary'].astype(str)

    # Intentar merge nuevamente
    hospital_service_final = hospital_service_final.merge(
        population_renamed,
        on='id_secondary',
        how='left'
    )
    print(f"‚úÖ Merge alternativo exitoso. Registros: {len(hospital_service_final)}")

# Rellenar valores nulos de poblaci√≥n con 0
hospital_service_final['poblacion_total_municipio'] = hospital_service_final['poblacion_total_municipio'].fillna(0)

# Verificar el resultado
print(f"Hospitales con poblaci√≥n > 0: {(hospital_service_final['poblacion_total_municipio'] > 0).sum()}")
print(f"Hospitales con poblaci√≥n = 0: {(hospital_service_final['poblacion_total_municipio'] == 0).sum()}")

# === C√ÅLCULO DE INDICADORES DE CAPACIDAD POR POBLACI√ìN ===

print('\n=== CALCULANDO INDICADORES DE CAPACIDAD POR POBLACI√ìN ===')

# 6.5 Calcular indicadores de capacidad por poblaci√≥n
if 'Camas instaladas' in hospital_service_final.columns:
    # Camas por cada 1000 habitantes
    hospital_service_final['camas_por_1000_hab'] = np.where(
        hospital_service_final['poblacion_total_municipio'] > 0,
        (hospital_service_final['Camas instaladas'] / hospital_service_final['poblacion_total_municipio']) * 1000,
        0
    )

if 'Total ingresos' in hospital_service_final.columns:
    # Ingresos hospitalarios por cada 1000 habitantes
    hospital_service_final['ingresos_por_1000_hab'] = np.where(
        hospital_service_final['poblacion_total_municipio'] > 0,
        (hospital_service_final['Total ingresos'] / hospital_service_final['poblacion_total_municipio']) * 1000,
        0
    )

if 'Urgencias totales' in hospital_service_final.columns:
    # Urgencias por cada 1000 habitantes
    hospital_service_final['urgencias_por_1000_hab'] = np.where(
        hospital_service_final['poblacion_total_municipio'] > 0,
        (hospital_service_final['Urgencias totales'] / hospital_service_final['poblacion_total_municipio']) * 1000,
        0
    )

# 6.6 Calcular poblaci√≥n total asignada a cada hospital (suma de todos sus municipios)
print("\n=== CALCULANDO POBLACI√ìN TOTAL ASIGNADA A CADA HOSPITAL ===")

# Obtener todos los municipios asignados a cada hospital
hospital_municipalities_population = hospital_service_final.groupby('hospital_id').agg({
    'poblacion_total_municipio': 'sum',  # Suma total de poblaci√≥n de todos los municipios asignados
    'municipality_name': lambda x: ', '.join(x.unique()),  # Lista de municipios asignados
    'municipality_id': 'count'  # N√∫mero de municipios asignados
}).rename(columns={
    'poblacion_total_municipio': 'poblacion_total_asignada',
    'municipality_name': 'municipios_asignados',
    'municipality_id': 'num_municipios_asignados'
}).reset_index()

print("Poblaci√≥n total asignada por hospital:")
display(hospital_municipalities_population.head())

# Unir esta informaci√≥n de vuelta al DataFrame principal
hospital_service_final = hospital_service_final.drop(columns=['poblacion_estimada_servida'], errors='ignore')
hospital_service_final = hospital_service_final.merge(
    hospital_municipalities_population[['hospital_id', 'poblacion_total_asignada', 'num_municipios_asignados']],
    on='hospital_id',
    how='left'
)

print(f"‚úÖ Poblaci√≥n total asignada calculada para {len(hospital_service_final)} hospitales")
print(f"Poblaci√≥n total asignada promedio: {hospital_service_final['poblacion_total_asignada'].mean():.0f}")
print(f"Poblaci√≥n total asignada m√°xima: {hospital_service_final['poblacion_total_asignada'].max():.0f}")
print(f"Poblaci√≥n total asignada m√≠nima: {hospital_service_final['poblacion_total_asignada'].min():.0f}")

# 6.7 Indicadores de preparaci√≥n hospitalaria para poblaci√≥n total asignada
if 'Camas instaladas' in hospital_service_final.columns:
    # Camas por cada 1000 habitantes de la poblaci√≥n total asignada al hospital
    hospital_service_final['camas_por_1000_asignados'] = np.where(
        hospital_service_final['poblacion_total_asignada'] > 0,
        (hospital_service_final['Camas instaladas'] / hospital_service_final['poblacion_total_asignada']) * 1000,
        0
    )

    # Clasificaci√≥n de preparaci√≥n seg√∫n est√°ndares internacionales (2-4 camas por 1000 hab)
    hospital_service_final['preparacion_camas'] = np.where(
        hospital_service_final['camas_por_1000_asignados'] >= 4, 'Excelente',
        np.where(hospital_service_final['camas_por_1000_asignados'] >= 2, 'Adecuada',
                np.where(hospital_service_final['camas_por_1000_asignados'] >= 1, 'B√°sica', 'Insuficiente'))
    )

if 'Total ingresos' in hospital_service_final.columns:
    # Capacidad de atenci√≥n por poblaci√≥n total asignada
    hospital_service_final['capacidad_atencion_por_1000_asignados'] = np.where(
        hospital_service_final['poblacion_total_asignada'] > 0,
        (hospital_service_final['Total ingresos'] / hospital_service_final['poblacion_total_asignada']) * 1000,
        0
    )

if 'Urgencias totales' in hospital_service_final.columns:
    # Urgencias por cada 1000 habitantes de poblaci√≥n total asignada
    hospital_service_final['urgencias_por_1000_asignados'] = np.where(
        hospital_service_final['poblacion_total_asignada'] > 0,
        (hospital_service_final['Urgencias totales'] / hospital_service_final['poblacion_total_asignada']) * 1000,
        0
    )

# 6.8 √çndice compuesto de preparaci√≥n hospitalaria (actualizado)
preparacion_indicators = []
if 'camas_por_1000_asignados' in hospital_service_final.columns:
    preparacion_indicators.append('camas_por_1000_asignados')
if 'capacidad_atencion_por_1000_asignados' in hospital_service_final.columns:
    preparacion_indicators.append('capacidad_atencion_por_1000_asignados')
if 'urgencias_por_1000_asignados' in hospital_service_final.columns:
    preparacion_indicators.append('urgencias_por_1000_asignados')

# Normalizar indicadores de preparaci√≥n usando percentiles
for indicator in preparacion_indicators:
    if indicator in hospital_service_final.columns:
        hospital_service_final[f'{indicator}_percentile'] = hospital_service_final[indicator].rank(pct=True) * 100

# Calcular √≠ndice de preparaci√≥n poblacional actualizado
if preparacion_indicators:
    percentile_cols = [f'{ind}_percentile' for ind in preparacion_indicators if f'{ind}_percentile' in hospital_service_final.columns]
    if percentile_cols:
        hospital_service_final['indice_preparacion_poblacional'] = hospital_service_final[percentile_cols].mean(axis=1, skipna=True)
    else:
        hospital_service_final['indice_preparacion_poblacional'] = 0
else:
    hospital_service_final['indice_preparacion_poblacional'] = 0

# === MOSTRAR RESULTADOS DEL AN√ÅLISIS POBLACIONAL ACTUALIZADO ===

print('\n=== INDICADORES DE PREPARACI√ìN HOSPITALARIA POR POBLACI√ìN TOTAL ASIGNADA ===')
population_columns = ['hospital_name', 'num_municipios_asignados', 'poblacion_total_asignada']
if 'Camas instaladas' in hospital_service_final.columns:
    population_columns.append('Camas instaladas')
if 'camas_por_1000_asignados' in hospital_service_final.columns:
    population_columns.extend(['camas_por_1000_asignados', 'preparacion_camas'])
if 'capacidad_atencion_por_1000_asignados' in hospital_service_final.columns:
    population_columns.append('capacidad_atencion_por_1000_asignados')
if 'urgencias_por_1000_asignados' in hospital_service_final.columns:
    population_columns.append('urgencias_por_1000_asignados')
population_columns.append('indice_preparacion_poblacional')

# Eliminar duplicados por hospital para mostrar resultados √∫nicos
hospital_unique_results = hospital_service_final.drop_duplicates(subset=['hospital_id'])
population_results = hospital_unique_results[population_columns].round(4)
display(population_results.head(10))

print('\n=== TOP 10 HOSPITALES MEJOR PREPARADOS PARA SU POBLACI√ìN TOTAL ASIGNADA ===')
top_prepared = hospital_unique_results.nlargest(10, 'indice_preparacion_poblacional')[population_columns]
display(top_prepared)

print('\n=== HOSPITALES CON MENOR PREPARACI√ìN PARA SU POBLACI√ìN TOTAL ASIGNADA ===')
least_prepared = hospital_unique_results.nsmallest(10, 'indice_preparacion_poblacional')[population_columns]
display(least_prepared)

# === ESTAD√çSTICAS DE PREPARACI√ìN POBLACIONAL ACTUALIZADAS ===
print('\n=== ESTAD√çSTICAS DE PREPARACI√ìN POBLACIONAL (POBLACI√ìN TOTAL ASIGNADA) ===')

if 'camas_por_1000_asignados' in hospital_unique_results.columns:
    print(f"\nüè• AN√ÅLISIS DE CAMAS POR POBLACI√ìN TOTAL ASIGNADA:")
    print(f"   ‚Ä¢ Promedio de camas por 1000 habitantes asignados: {hospital_unique_results['camas_por_1000_asignados'].mean():.2f}")
    print(f"   ‚Ä¢ Mediana: {hospital_unique_results['camas_por_1000_asignados'].median():.2f}")
    print(f"   ‚Ä¢ M√°ximo: {hospital_unique_results['camas_por_1000_asignados'].max():.2f}")
    print(f"   ‚Ä¢ M√≠nimo: {hospital_unique_results['camas_por_1000_asignados'].min():.2f}")

    # Distribuci√≥n por clasificaci√≥n de preparaci√≥n
    if 'preparacion_camas' in hospital_unique_results.columns:
        preparacion_counts = hospital_unique_results['preparacion_camas'].value_counts()
        total_hospitals = len(hospital_unique_results)
        print(f"\nüìä DISTRIBUCI√ìN DE PREPARACI√ìN DE CAMAS:")
        for categoria, count in preparacion_counts.items():
            print(f"   ‚Ä¢ {categoria}: {count} hospitales ({count/total_hospitals*100:.1f}%)")

if 'capacidad_atencion_por_1000_asignados' in hospital_unique_results.columns:
    print(f"\nüöë AN√ÅLISIS DE CAPACIDAD DE ATENCI√ìN POR POBLACI√ìN ASIGNADA:")
    print(f"   ‚Ä¢ Promedio de ingresos por 1000 habitantes asignados: {hospital_unique_results['capacidad_atencion_por_1000_asignados'].mean():.2f}")
    print(f"   ‚Ä¢ Mediana: {hospital_unique_results['capacidad_atencion_por_1000_asignados'].median():.2f}")

if 'urgencias_por_1000_asignados' in hospital_unique_results.columns:
    print(f"\nüö® AN√ÅLISIS DE URGENCIAS POR POBLACI√ìN ASIGNADA:")
    print(f"   ‚Ä¢ Promedio de urgencias por 1000 habitantes asignados: {hospital_unique_results['urgencias_por_1000_asignados'].mean():.2f}")
    print(f"   ‚Ä¢ Mediana: {hospital_unique_results['urgencias_por_1000_asignados'].median():.2f}")

print(f"\nüìà √çNDICE DE PREPARACI√ìN POBLACIONAL (ACTUALIZADO):")
print(f"   ‚Ä¢ Promedio: {hospital_unique_results['indice_preparacion_poblacional'].mean():.2f}")
print(f"   ‚Ä¢ Desviaci√≥n est√°ndar: {hospital_unique_results['indice_preparacion_poblacional'].std():.2f}")

# === AN√ÅLISIS DETALLADO POR HOSPITAL CON M√öLTIPLES MUNICIPIOS ===
print('\n=== HOSPITALES CON M√öLTIPLES MUNICIPIOS ASIGNADOS ===')

multi_municipality_hospitals = hospital_unique_results[hospital_unique_results['num_municipios_asignados'] > 1]
if len(multi_municipality_hospitals) > 0:
    print(f"Hospitales que sirven m√∫ltiples municipios: {len(multi_municipality_hospitals)}")
    multi_cols = ['hospital_name', 'num_municipios_asignados', 'poblacion_total_asignada', 'camas_por_1000_asignados', 'preparacion_camas']
    available_multi_cols = [col for col in multi_cols if col in multi_municipality_hospitals.columns]
    display(multi_municipality_hospitals[available_multi_cols].sort_values('poblacion_total_asignada', ascending=False))
else:
    print("No hay hospitales que sirvan m√∫ltiples municipios en el an√°lisis.")

# === RESUMEN EJECUTIVO ===
print('\n' + '='*80)
print('üìã RESUMEN EJECUTIVO - PREPARACI√ìN HOSPITALARIA PARA POBLACI√ìN ASIGNADA')
print('='*80)

total_hospitals = len(hospital_unique_results)
total_population_served = hospital_unique_results['poblacion_total_asignada'].sum()
total_beds = hospital_unique_results['Camas instaladas'].sum() if 'Camas instaladas' in hospital_unique_results.columns else 0

print(f"\nüè• OVERVIEW GENERAL:")
print(f"   ‚Ä¢ Total de hospitales analizados: {total_hospitals}")
print(f"   ‚Ä¢ Poblaci√≥n total asignada: {total_population_served:,.0f} habitantes")
print(f"   ‚Ä¢ Total de camas disponibles: {total_beds:,.0f}")
if total_population_served > 0:
    print(f"   ‚Ä¢ Ratio general camas/poblaci√≥n: {(total_beds/total_population_served)*1000:.2f} camas por 1000 hab")

if 'preparacion_camas' in hospital_unique_results.columns:
    print(f"\nüìä DISTRIBUCI√ìN DE PREPARACI√ìN:")
    preparacion_summary = hospital_unique_results['preparacion_camas'].value_counts()
    for nivel in ['Excelente', 'Adecuada', 'B√°sica', 'Insuficiente']:
        count = preparacion_summary.get(nivel, 0)
        pct = (count/total_hospitals)*100
        print(f"   ‚Ä¢ {nivel}: {count} hospitales ({pct:.1f}%)")

# Hospitales cr√≠ticos (preparaci√≥n insuficiente y alta poblaci√≥n)
if 'preparacion_camas' in hospital_unique_results.columns:
    critical_hospitals = hospital_unique_results[
        (hospital_unique_results['preparacion_camas'] == 'Insuficiente') &
        (hospital_unique_results['poblacion_total_asignada'] > hospital_unique_results['poblacion_total_asignada'].median())
    ]

    if len(critical_hospitals) > 0:
        print(f"\n‚ö†Ô∏è  HOSPITALES EN SITUACI√ìN CR√çTICA:")
        print(f"   ‚Ä¢ {len(critical_hospitals)} hospitales con preparaci√≥n insuficiente y alta poblaci√≥n asignada")
        critical_cols = ['hospital_name', 'poblacion_total_asignada', 'camas_por_1000_asignados']
        display(critical_hospitals[critical_cols].sort_values('poblacion_total_asignada', ascending=False))

print('\n' + '='*80)

Hospitales:

,id,name_large,name,id_municipality,utm_x,utm_y,tag,address,url,id_via,name_municipality,latitude,longitude
0,280724,Hospital Centro Sanitario de Vida y Esperanza....,HOSPITAL CENTRO SANITARIO DE VIDA Y ESPERANZA,28079,436745,4471110,Hospital Centro Sanitario de Vida y Esperanza,"Glorieta del Ej√©rcito, s/n",https://centrossanitarios.sanidadmadrid.org/Re...,07901901,Madrid,40.388185,-3.745275
1,CH0001,Fremap Hospital y Centro de Rehabilitaci√≥n de ...,FREMAP HOSPITAL Y CENTRO DE REHABILITACI√ìN DE ...,28080,427799,4478345,Fremap Hospital y Centro de Rehabilitaci√≥n de ...,"Carretera de Pozuelo, 61",https://www.fremap.es,08000170,Majadahonda,40.452632,-3.851488
2,CH0004,Centro San Juan de Dios. Avenida de San Juan d...,CENTRO SAN JUAN DE DIOS,28040,447682,4445737,Centro San Juan de Dios,"Avenida de San Juan de Dios, 1",https://sjd.es/location/centro-san-juan-de-dio...,040A0157,Ciempozuelos,40.160362,-3.614350
3,CH0006,Fuensanta S.l. (Cl√≠nica Fuensanta). Calle de A...,FUENSANTA S.L. (CLINICA FUENSANTA),28079,445713,4476806,Fuensanta S.l. (Cl√≠nica Fuensanta),"Calle de Arturo Soria, 17",https://www.viamedsalud.com/hospital-fuensanta/,07900582,Madrid,40.440131,-3.640106
4,CH0008,"Cl√≠nica La Luz, S.l.. Calle del General Rodrig...","CLINICA LA LUZ, S.L.",28079,439451,4477308,"Cl√≠nica La Luz, S.l.","Calle del General Rodrigo, 8",https://www.quironsalud.com/es/red-centros/hos...,07909065,Madrid,40.444221,-3.713985

Actividad hospitalaria:

  hospital_id  year          type_activity  total
0      CH0096  2012  Estancia media global   5.72
1      CH0096  2013  Estancia media global   6.08
2      CH0096  2014  Estancia media global   6.03
3      CH0096  2015  Estancia media global   6.22
4      CH0096  2016  Estancia media global   6.16

Hospital-Municipio:

                                 hospital_id municipality_id
0  hospital_central_de_la_defensa_gomez_ulla           28079
1                                     CH0053           28079
2                                     CH0027           28018
3                                     CH0027           28038
4                                     CH0027           28046

Recursos hospitalarios:

  hospital_id  year    type_resources  total
0      CH0096  2012  Camas instaladas  202.0
1      CH0096  2013  Camas instaladas  210.0
2      CH0096  2014  Camas instaladas  210.0
3      CH0096  2015  Camas instaladas  220.0
4      CH0096  2016  Camas instaladas  232.0

Municipios:

,id,id_secondary,name,tag
0,28183,1837,Zarzalejo,Zarzalejo
1,28070,702,Horcajo de la Sierra-Aoslos,Horcajo de la Sierra-Aoslos
2,28154,1548,Torres de la Alameda,Torres de la Alameda
3,28052,528,Chinch√≥n,Chinch√≥n
4,28074,745,Legan√©s,Legan√©s

Demograf√≠a municipios:

   id_secondary_municipality          name  total  year range
0                         14  Acebeda (La)      0  2021   0-4
1                         14  Acebeda (La)      0  2022   0-4
2                         14  Acebeda (La)      0  2023   0-4
3                         14  Acebeda (La)      1  2024   0-4
4                         29       Ajalvir    198  2021   0-4

=== AN√ÅLISIS DEL NIVEL DE SERVICIO HOSPITALARIO ===

Recursos hospitalarios por hospital (formato pivote):

type_resources hospital_id  Camas instaladas
0                   CH0011             651.0
1                   CH0027              92.0
2                   CH0029             533.0
3                   CH0032             328.0
4                   CH0034            1236.0

Actividad hospitalaria por hospital (formato pivote):

type_activity,hospital_id,Estancia media global,Ingresos programados,Ingresos urgentes,Total ingresos,Urgencias totales
0,CH0011,5.15,10937.0,16422.0,27359.0,192927.0
1,CH0027,5.88,864.0,2236.0,3100.0,52159.0
2,CH0029,7.81,4032.0,10939.0,14971.0,112213.0
3,CH0032,6.37,3172.0,109351.0,11994.0,109351.0
4,CH0034,7.56,15244.0,27044.0,42288.0,270319.0

=== AN√ÅLISIS DE POBLACI√ìN ASIGNADA A HOSPITALES ===

Datos de poblaci√≥n total por municipio:

     id_secondary_municipality   total
4297                        14      62
4301                        29    4825
4305                        35     242
4309                        40   10100
4313                        53  196008

Verificando tipos de datos antes del merge:
hospital_service_final['id_secondary'] dtype: int64
population_data['id_secondary_municipality'] dtype: object
Valores √∫nicos en hospital_service_final['id_secondary']: 159
Valores √∫nicos en population_data['id_secondary_municipality']: 179
‚ùå Error en merge: You are trying to merge on int64 and object columns for key 'id_secondary'. If you wish to proceed you should use pd.concat
Intentando merge alternativo...
‚úÖ Merge alternativo exitoso. Registros: 168
Hospitales con poblaci√≥n > 0: 168
Hospitales con poblaci√≥n = 0: 0

=== CALCULANDO INDICADORES DE CAPACIDAD POR POBLACI√ìN ===

=== CALCULANDO POBLACI√ìN TOTAL ASIGNADA A CADA HOSPITAL ===
Poblaci√≥n total asignada por hospital:

,hospital_id,poblacion_total_asignada,municipios_asignados,num_municipios_asignados
0,CH0027,152371,"Becerril de la Sierra, Cercedilla, Collado Med...",17
1,CH0032,243484,"M√≥stoles, Arroyomolinos",2
2,CH0044,251343,"Alcal√° de Henares, Anchuelo, Camarma de Esteru...",12
3,CH0052,403522,"Legan√©s, Fuenlabrada, Humanes de Madrid, Moral...",4
4,CH0053,3267027,Madrid,1

‚úÖ Poblaci√≥n total asignada calculada para 168 hospitales
Poblaci√≥n total asignada promedio: 287302
Poblaci√≥n total asignada m√°xima: 3267027
Poblaci√≥n total asignada m√≠nima: 78828

=== INDICADORES DE PREPARACI√ìN HOSPITALARIA POR POBLACI√ìN TOTAL ASIGNADA ===

,hospital_name,num_municipios_asignados,poblacion_total_asignada,Camas instaladas,camas_por_1000_asignados,preparacion_camas,capacidad_atencion_por_1000_asignados,urgencias_por_1000_asignados,indice_preparacion_poblacional
0,HOSPITAL DE EL ESCORIAL,17,152371,92.0,0.6038,Insuficiente,20.3451,342.3158,7.3413
17,HOSPITAL UNIVERSITARIO DE MOSTOLES,2,243484,328.0,1.3471,B√°sica,49.2599,449.1096,49.7024
19,HOSPITAL UNIVERSITARIO PRINCIPE DE ASTURIAS,12,251343,507.0,2.0172,Adecuada,73.6324,640.2963,85.2183
31,HOSPITAL UNIVERSITARIO SEVERO OCHOA,4,403522,386.0,0.9566,Insuficiente,37.4676,299.4855,23.9087
35,HHOSPITAL CLINICO SAN CARLOS,1,3267027,861.0,0.2635,Insuficiente,8.7863,44.6335,0.9921
36,HOSPITAL UNIVERSITARIO DE GETAFE,2,239268,543.0,2.2694,Adecuada,77.5072,549.5093,81.4484
38,HOSPITAL UNIVERSITARIO FUNDACION ALCORCON,1,171435,401.0,2.3391,Adecuada,90.1508,678.2454,94.4444
39,HOSPITAL UNIVERSITARIO FUENLABRADA,3,215400,413.0,1.9174,B√°sica,79.7725,668.3055,88.6905
42,HOSPITAL INFANTA ELENA,4,125885,188.0,1.4934,B√°sica,86.8968,1071.5812,89.1865
46,HOSPITAL UNIVERSITARIO HENARES,5,165087,263.0,1.5931,B√°sica,68.1943,608.8608,77.1825

=== TOP 10 HOSPITALES MEJOR PREPARADOS PARA SU POBLACI√ìN TOTAL ASIGNADA ===

,hospital_name,num_municipios_asignados,poblacion_total_asignada,Camas instaladas,camas_por_1000_asignados,preparacion_camas,capacidad_atencion_por_1000_asignados,urgencias_por_1000_asignados,indice_preparacion_poblacional
161,HOSPITAL GENERAL DE VILLALBA,7,118328,217.0,1.833885,B√°sica,93.190116,1149.296870,94.642857
38,HOSPITAL UNIVERSITARIO FUNDACION ALCORCON,1,171435,401.0,2.339079,Adecuada,90.150786,678.245399,94.444444
42,HOSPITAL INFANTA ELENA,4,125885,188.0,1.493427,B√°sica,86.896771,1071.581205,89.186508
39,HOSPITAL UNIVERSITARIO FUENLABRADA,3,215400,413.0,1.917363,B√°sica,79.772516,668.305478,88.690476
138,HOSPITAL UNIVERSITARIO DE TORREJ√ìN,5,154310,250.0,1.620115,B√°sica,81.822306,812.740587,88.293651
19,HOSPITAL UNIVERSITARIO PRINCIPE DE ASTURIAS,12,251343,507.0,2.017164,Adecuada,73.632446,640.296328,85.218254
36,HOSPITAL UNIVERSITARIO DE GETAFE,2,239268,543.0,2.269422,Adecuada,77.507230,549.509337,81.448413
46,HOSPITAL UNIVERSITARIO HENARES,5,165087,263.0,1.593099,B√°sica,68.194346,608.860782,77.182540
111,HOSPITAL UNIVERSITARIO DEL TAJO,5,78828,102.0,1.293956,B√°sica,57.301974,872.963921,77.182540
103,HOSPITAL UNIVERSITARIO INFANTA CRISTINA,8,172396,188.0,1.090513,B√°sica,51.393304,663.466670,67.956349

=== HOSPITALES CON MENOR PREPARACI√ìN PARA SU POBLACI√ìN TOTAL ASIGNADA ===

,hospital_name,num_municipios_asignados,poblacion_total_asignada,Camas instaladas,camas_por_1000_asignados,preparacion_camas,capacidad_atencion_por_1000_asignados,urgencias_por_1000_asignados,indice_preparacion_poblacional
137,HOSPITAL UNIVERSITARIO INFANTA LEONOR,1,3267027,361.0,0.110498,Insuficiente,5.253400,55.981172,0.793651
35,HHOSPITAL CLINICO SAN CARLOS,1,3267027,861.0,0.263542,Insuficiente,8.786276,44.633546,0.992063
0,HOSPITAL DE EL ESCORIAL,17,152371,92.0,0.603789,Insuficiente,20.345079,342.315795,7.341270
31,HOSPITAL UNIVERSITARIO SEVERO OCHOA,4,403522,386.0,0.956577,Insuficiente,37.467598,299.485530,23.908730
116,HOSPITAL UNIVERSITARIO DEL SURESTE,21,207527,132.0,0.636062,Insuficiente,40.341739,594.476863,34.126984
51,HOSPITAL UNIVERSITARIO INFANTA SOFIA,52,341322,276.0,0.808621,Insuficiente,49.961620,420.810847,37.400794
17,HOSPITAL UNIVERSITARIO DE MOSTOLES,2,243484,328.0,1.347111,B√°sica,49.259910,449.109592,49.702381
143,HOSPITAL REY JUAN CARLOS,18,328893,362.0,1.100662,B√°sica,63.698528,499.414703,63.591270
103,HOSPITAL UNIVERSITARIO INFANTA CRISTINA,8,172396,188.0,1.090513,B√°sica,51.393304,663.466670,67.956349
46,HOSPITAL UNIVERSITARIO HENARES,5,165087,263.0,1.593099,B√°sica,68.194346,608.860782,77.182540

=== ESTAD√çSTICAS DE PREPARACI√ìN POBLACIONAL (POBLACI√ìN TOTAL ASIGNADA) ===

üè• AN√ÅLISIS DE CAMAS POR POBLACI√ìN TOTAL ASIGNADA:
   ‚Ä¢ Promedio de camas por 1000 habitantes asignados: 1.29
   ‚Ä¢ Mediana: 1.32
   ‚Ä¢ M√°ximo: 2.34
   ‚Ä¢ M√≠nimo: 0.11

üìä DISTRIBUCI√ìN DE PREPARACI√ìN DE CAMAS:
   ‚Ä¢ B√°sica: 9 hospitales (50.0%)
   ‚Ä¢ Insuficiente: 6 hospitales (33.3%)
   ‚Ä¢ Adecuada: 3 hospitales (16.7%)

üöë AN√ÅLISIS DE CAPACIDAD DE ATENCI√ìN POR POBLACI√ìN ASIGNADA:
   ‚Ä¢ Promedio de ingresos por 1000 habitantes asignados: 57.50
   ‚Ä¢ Mediana: 60.50

üö® AN√ÅLISIS DE URGENCIAS POR POBLACI√ìN ASIGNADA:
   ‚Ä¢ Promedio de urgencias por 1000 habitantes asignados: 578.97
   ‚Ä¢ Mediana: 601.67

üìà √çNDICE DE PREPARACI√ìN POBLACIONAL (ACTUALIZADO):
   ‚Ä¢ Promedio: 59.01
   ‚Ä¢ Desviaci√≥n est√°ndar: 33.39

=== HOSPITALES CON M√öLTIPLES MUNICIPIOS ASIGNADOS ===
Hospitales que sirven m√∫ltiples municipios: 15

,hospital_name,num_municipios_asignados,poblacion_total_asignada,camas_por_1000_asignados,preparacion_camas
31,HOSPITAL UNIVERSITARIO SEVERO OCHOA,4,403522,0.956577,Insuficiente
51,HOSPITAL UNIVERSITARIO INFANTA SOFIA,52,341322,0.808621,Insuficiente
143,HOSPITAL REY JUAN CARLOS,18,328893,1.100662,B√°sica
19,HOSPITAL UNIVERSITARIO PRINCIPE DE ASTURIAS,12,251343,2.017164,Adecuada
17,HOSPITAL UNIVERSITARIO DE MOSTOLES,2,243484,1.347111,B√°sica
36,HOSPITAL UNIVERSITARIO DE GETAFE,2,239268,2.269422,Adecuada
39,HOSPITAL UNIVERSITARIO FUENLABRADA,3,215400,1.917363,B√°sica
116,HOSPITAL UNIVERSITARIO DEL SURESTE,21,207527,0.636062,Insuficiente
103,HOSPITAL UNIVERSITARIO INFANTA CRISTINA,8,172396,1.090513,B√°sica
46,HOSPITAL UNIVERSITARIO HENARES,5,165087,1.593099,B√°sica
138,HOSPITAL UNIVERSITARIO DE TORREJ√ìN,5,154310,1.620115,B√°sica
0,HOSPITAL DE EL ESCORIAL,17,152371,0.603789,Insuficiente
42,HOSPITAL INFANTA ELENA,4,125885,1.493427,B√°sica
161,HOSPITAL GENERAL DE VILLALBA,7,118328,1.833885,B√°sica
111,HOSPITAL UNIVERSITARIO DEL TAJO,5,78828,1.293956,B√°sica

================================================================================
üìã RESUMEN EJECUTIVO - PREPARACI√ìN HOSPITALARIA PARA POBLACI√ìN ASIGNADA
================================================================================

üè• OVERVIEW GENERAL:
   ‚Ä¢ Total de hospitales analizados: 18
   ‚Ä¢ Poblaci√≥n total asignada: 9,903,453 habitantes
   ‚Ä¢ Total de camas disponibles: 5,870
   ‚Ä¢ Ratio general camas/poblaci√≥n: 0.59 camas por 1000 hab

üìä DISTRIBUCI√ìN DE PREPARACI√ìN:
   ‚Ä¢ Excelente: 0 hospitales (0.0%)
   ‚Ä¢ Adecuada: 3 hospitales (16.7%)
   ‚Ä¢ B√°sica: 9 hospitales (50.0%)
   ‚Ä¢ Insuficiente: 6 hospitales (33.3%)

‚ö†Ô∏è  HOSPITALES EN SITUACI√ìN CR√çTICA:
   ‚Ä¢ 4 hospitales con preparaci√≥n insuficiente y alta poblaci√≥n asignada

,hospital_name,poblacion_total_asignada,camas_por_1000_asignados
35,HHOSPITAL CLINICO SAN CARLOS,3267027,0.263542
137,HOSPITAL UNIVERSITARIO INFANTA LEONOR,3267027,0.110498
31,HOSPITAL UNIVERSITARIO SEVERO OCHOA,403522,0.956577
51,HOSPITAL UNIVERSITARIO INFANTA SOFIA,341322,0.808621

================================================================================